.aside-panel{
    height: 834px;
    min-width: 311px;
    border-right: 1px solid #1E2D3D;
    &__info{
        color: #607B96;
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #1E2D3D; 
        border-top: 1px solid #1E2D3D; 
        cursor: pointer;
        &_active {
            color: white;
        }
    }
    &__big-arrow{
        margin-left: 5px;
        margin-right: 8px;
        height: 20px;
        width: 10px;
        &_active {
            transform: rotate(90deg);
        }
    }
    &__folder{
        margin-right: 5px;
    }
}