@import '../../style/variables.scss';
@import '../../style/animation.scss';


.App{
    position: relative;
    width: 1782px;
    height: 941.32px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #1E2D3D;
    background: $bgc;
    transition: 0.5s;
    &__wrapper{
        margin-top: 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__blur{
        position: absolute;
        &:nth-child(2) {
            top: -28px;
            right: 221px;
        }
        &:nth-child(3) {
            bottom: -134px;
            right: 100px;
        }
    }
    &__two-page-wrapper{
        display: flex;
    }
    &__two-page-asidePanelEntrails{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &__two-page-info-about{
        display: flex;  
        margin-bottom: 8px;
        cursor: pointer;
        transition: 0.3s all;
    }
    &__two-page-img{
        margin-left: 17px;
        
    }
    &__two-page-folder{
        margin-left: 13px;
    }
    &__two-page-name{
        margin-left: 9px;
        color: #607B96;
        font-family: Fira Code;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &__two-page-info{
        visibility: hidden;
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
        &_active {
        opacity: 1;
        height: 100px;
        visibility: visible;
        padding: 18px 0 25px 10px;
        }
    }
    
}


