.main-screen {
    width: 100%;
    position: relative;
    &__wrapper{
        display: flex;
        width: 100%;
        border-top: 1px solid #1E2D3D;
    }
    &__number{
        display: flex;
        flex-direction: column;
        margin-top: 18px;
        margin-left: 38px;
        margin-right: 40px;
        width: 10px;
        color: #607B96;
        text-align: right;
        font-family: Fira Code;
        font-size: 18px;
        font-style: normal;
        font-weight: 450;
        line-height: 150%;
    }
    &__text{
        width: 569px;
        color: #607B96;
        font-family: Fira Code;
        font-size: 18px;
        font-style: normal;
        font-weight: 450;
        line-height: 150%;
        margin-top: 18px;
    }
}