.window{
    border-bottom: 1px solid #1E2D3D;
    border-right: 1px solid #1E2D3D;
    width: 192px;
    color: #607B96;
    font-family: Fira Code;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 9px 12px 9px 14px;
    position: relative;
    &__img{
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
}